<footer class="footer bg-dark py-3 mt-auto"> // margin-top-auto to push the footer to the bottom of the vh-100
    <div class="container">
        <span class="text-muted">SkateGrounds &copy</span>
    </div>
</footer>