<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">SkateGrounds</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav me-auto">
        <a class="nav-link" href="/">Home</a>
        <a class="nav-link" href="/skategrounds">SkateGrounds</a>
        <a class="nav-link" href="/skategrounds/new">New SkateGround</a>
      </div>
      <div class="navbar-nav ml-auto">
        <% if(!currentUser){ %>

        <form class="d-flex" action="/login" method="post">
          <div class="row">
            <div class="col">
              <input
                class="form-control form-control-sm"
                type="text"
                placeholder="Username"
                aria-label="Username"
                name="username"
              />
            </div>
            <div class="col">
              <input
                name="password"
                class="form-control form-control-sm"
                type="password"
                placeholder="Password"
                aria-label="password"
              />
            </div>
            <div class="col">
              <button class="btn btn-sm btn-success" type="submit">
                Login
              </button>
            </div>
          </div>
          <!-- end form row-->
        </form>
        <a class="btn btn-sm btn-info" href="/register">Register</a>

        <% } else { %>
        <span class="navbar-text">Hi, <%= currentUser.username %></span>
        <a class="nav-link" href="/logout">Logout</a>
        <% } %>
      </div>
    </div>
  </div>
</nav>
