<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Skategrounds</title>
</head>
<body>
    <h1>All Skategrounds</h1>
    <a href="/skategrounds/new">Add Skateground</a>
    <ul>
    <% for (skateground of skategrounds){ %> 
        <li><a href="/skategrounds/<%= skateground._id %>"><%= skateground.title %></a> - <%= skateground.location %> </li>
    <% } %> 
</ul>
</body>
</html>