<% layout('/layouts/boilerplate')%>
    <h1>All Skategrounds</h1>
    <a href="/skategrounds/new">Add Skateground</a>
    <ul>
    <% for (skateground of skategrounds){ %> 
        <li><a href="/skategrounds/<%= skateground._id %>"><%= skateground.title %></a> - <%= skateground.location %> </li>
    <% } %> 
</ul>
